html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.wrapper {
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.section-headder {
    padding: 60px 0 10px;
}

td.PASSED {
    background-color: green;
    color: white;
}
td.FAILED {
    background-color: red;
    color: white;
}

.h1, .h2, .h3, h1, h2, h3 {
/*    padding-top: 60px; */
}

@media (max-width: 968px) {
      .pull-right, .pull-left {
              text-align: center;
       } 
    }
