</div>
<div style="background-color:#f5f5f5;padding:30px 0 20px 0;margin-top:15px;">
  <div class="container offsetanchor" id="features">
    <div id="footer"><!-- Starting Footer Section -->
      <div class="pull-left">
        <p><a href="{{ site.url }}">Home</a> | <a href="{{ '/source/' | prepend: site.url }}">Source</a> | <a href="{{ '/contact/' | prepend: site.url }}">Contact</a></p>
      </div>
      <div class="pull-right">
        <p>&copy; {{ site.time | date: "%Y" }} by <a href="https://mattrude.com">{{ site.owner_name }}</a></p>
      </div>
    </div><!-- Closing Footer Section -->
  </div><!-- Closing Menu Section (from header) -->
</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
