<div id="menu">
    <a href="{{ site.url }}">Home</a>
    | <a href="{{ site.url }}/about/">About</a>
    | <a href="{{ site.url }}/certificates/">Certificates</a>
    | <a href="{{ site.url }}/help/">Help</a>
    | <a href="{{ site.url }}/doc/">Docs</a>{% for post in site.posts limit: 1 %}
    | <a href="{{ site.url }}/news/">News</a>{% endfor %}
</div>{% if page.url contains 'doc' %}
<div id="menu-sub">
    <a href="{{ site.url }}/doc/"><strong>Docs:</strong></a> | 
    <a href="{{ site.url }}/doc/supported-standards/">Supported Standards</a> | 
    <a href="{{ site.url }}/doc/compliance/">Server Compliance</a>
</div>{% endif %}{% if page.url contains 'help' %}
<div id="menu-sub">
    <a href="{{ site.url }}/help/"><strong>Help:</strong></a> |
    <a href="{{ site.url }}/help/client-list/">Clients list</a> | 
    <a href="{{ site.url }}/help/definitions/">Definitions</a> | 
    <a href="{{ site.url }}/help/generic-configuration/">Generic Configuration</a> | {% if site.xmpp-conference-url and site.xep-0045 == 1 %}
    <a href="{{ site.url }}/help/using-conferences/">Conferences</a> | {% endif %}
    <a href="{{ site.url }}/help/web-presence/">Web Presence</a> |
    <a href="{{ site.url }}/help/hal-robot/">HAL Bot</a>
</div>{% endif %}
